*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    }


body {
    background-image: url('assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
/* the main card container */

.card{
  width: 441px;
  height: 254px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #000000bb;
  background-image: url(assets/card.png);
  border-radius: 30px;
}

.card-inner{
  width: 214px;
  height: 22px;
  position: fixed;
  top: 82%;
  left: 33%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size:inherit
}

.card-inner2{
  width: 214px;
  height: 22px;
  position: fixed;
  top: 82%;
  left: 42%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size:inherit
}

.card-inner3{
  width: 214px;
  height: 22px;
  position: fixed;
  top: 82%;
  left: 63%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size:inherit
}

.words{
  width: relative;
  height: 170px;
  position: fixed;
  top: 45%;
  left: 75%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.icon-container{
  width: 200px;
  height: 40px;
  top:70%;
  left:60%;
  position: fixed;
  margin: 0 auto;
  overflow: hidden;
  background-size:inherit
}

.mate-sc-regular {
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
}

h1{
  font-family: 'Mate SC', serif;
  font-weight: 600;
  text-align: left;
  font-size: 35px;
  position: relative;
  color: #F7BACD;
  
}

h2{
  font-family: 'Playfair', serif;
  font-weight: 200;
  text-align: left;
  position: relative; 
  color:#F7BACD;
} 

p{
  font-family: 'Playfair', serif;
  font-weight: 200;
  text-align: left;
  font-size: 13px;
  position: relative; 
  color:#F7BACD;
} 

/* How links are styled on page load and also after a link has been visited */
a:link, a:visited {
  color: #0b8577;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
}
/* how a link is styled when you hover over it */
a:hover {
  color: rgb(0, 151, 206);
}

